<section class="row justify-content-center">
<div class="col-8 reimbursement mb-5">
    <article class="p-5 border rounded shadow">
        <h3 class="h3">Reimbursement # 1</h3>
        <h4 class="h5 font-weight-normal mb-3">Submitted on [date]</h4>
        <table class="table table-hover">
            <tr>
                <th scope="row">Type</th>
                <td>huh</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>PENDING</td>
            </tr>
            <tr>
                <th scope="row">Resolver</th>
                <td>No one yet!</td>
            </tr>
            <tr>
                <th scope="row">Resolved On</th>
                <td>Not yet resolved!</td>
            </tr>
        </table>
    </article>
</div>
</section>